@import "../../scss_variables/variables";


.slick-prev:before, .slick-next:before { 
    color: $action_clr !important;
}

.slick-prev:before {
    position: relative;
    left: 2em;
}

.slick-next:before{
    position: relative;
    right:3em;
    font-size: 0 !important;
    @media screen and (min-width:600px) {
        font-size: 30px !important;
    }
}
.ProjectsWrapper {
    background-color: black;
    margin-top: 3em;
    width: 95%;
    margin: auto;
    height: 100%;
    position: relative;
    background:none;
}

// .ProjectsWrapper:after { 
//     content: " "; 
//     display: block;
//     clear: both;
// } 
.projectDetailsWrapper {
    width: 100%;
    margin: auto;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    
    padding-bottom: 2em;
    padding-top: 3em;

    @media screen and (min-width :800px) {
        
    }
}
.projectDescription{
  color:black
}

.ProjectSubHeading{
  font-size: 1.4em;
  text-decoration: underline;
}
.screenShotsWrapper {
    height: auto;
    width: 70%;
    color: white;
    background-color: white;
    margin: 1em auto 1em auto;
    border-radius: 5px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    padding: 0;
    @media screen and (min-width: 800px) {
        width: 35%;
    }
}

.screenshots {
    padding: 3% 0 3% 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.DescriptionWrapper {
    padding: 0.5em 2em;
    @media screen and (min-width: 800px) {
        width: 60%;
        margin: auto;
    }
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 3px;
    flex-direction: column;
    @media screen and (min-width: 800px) {
        margin: auto;
        flex-direction: row;
    }
}
.actionButtons a {
    width: 200px;
    padding: 5px;
    margin: 2px auto 2px auto;
    background-color: white;
    color: $action_clr;
    border-radius: 5px;
    @media screen and (min-width: 800px) {
        margin: 3px;
    }
}
