@import "../../scss_variables/variables";
.burgerIcon {
    // display: inline-block;
    cursor: pointer;
    padding: 5px 0 0 5px;
    position: absolute;
    z-index: 6;
    position: fixed;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.backdrop {
    z-index: 2;
    position: absolute;
    opacity: 0.5;
    background-color: black;
    width: 100%;
    height: 100%;
}

.navWrapper {
    width: 40%;
    min-width: 100px;
    z-index: 3;
    float: left;
    position: fixed;
    background-color: white;
    // background: transparent;
    height: 100%;
    // display: none;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
    &.enterFromLeft {
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
        transform: translateX(0);
    }

    @media screen and (min-width: 800px) {
        transform: translateX(0);
        transition: none;
        // background-color:  #ededed;;
        background: transparent;
        position: fixed;
        float: none;
        // height: 5%;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
}

.navList {
    list-style-type: none;
    padding: 40% 0 0 5px;

    @media screen and (min-width: 800px) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0 5% 0 0;
        padding-top: 5px;
        justify-content: flex-end;
        box-sizing: border-box;
        margin-top: 0;
        width: 100%;
        position: fixed;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
        background: rgba(255, 255, 255, 0.9);
        z-index: 8888;
    }
}

.navListItem {
    text-align: left;
    padding: 0.5em;
    @media screen and (min-width: 800px) {
        display: inline;
    }
}

.navListItemLink {
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: $action_clr;
}
.navListItem a:hover {
    color: $primary_clr;
    cursor: pointer;
}

.navListItem:hover {
    transform: scale(1.1);
}
