body {
    width: 100%;
    margin: auto;
}

.wrapper {
    height: 100vh;
}
.aboutMeWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    width: 100%;
    margin: auto;
    color: rgb(4, 31, 12);
    padding: 0;
    justify-content: space-evenly;
    position: relative;
    margin: auto;
    z-index: -9999;
    @media screen and (min-width: 800px) {
        flex-direction: row;
        height: 100vh;
        justify-content: space-evenly;
    }
}

.bio {
    flex: 0 0 50%;
    text-align: center;
    position: relative;

    @media screen and (min-width: 800px) {
        flex: 0 0 33%;
    }

    .bioText {
        padding-left: 0;
    }
}
.aboutMeText {
    font-size: 50px;
    font-family: "Dancing Script", cursive;

    @media screen and (min-width: 800px) {
        font-size: 50px;
        display: inline;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.bioDescription {
    font-size: 15px;
    font-weight: bold;

    @media screen and (min-width: 800px) {
        font-size: 20px;
    }
}

.imgWrapper {
    position: relative;
    width: 100%;
    height: auto;
    @media screen and (min-width: 800px) {
        flex: 0 0 33%;
        padding: 3em;
        text-align: left;
    }
}

.myImg {
    margin: auto;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    @media screen and (min-width: 800px) {
        margin-bottom: 0;
        height: 55%;
        width: auto;
    }
}
.myWhiteImgBackground {
    margin: auto;
    width: 50%;
    z-index: -2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width: 800px) {
    }
}
.myImgBackground {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 45%;
    z-index: -1;
    transform: rotate(-15deg);

    @media screen and (min-width: 800px) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-15deg);

        z-index: -1;
    }
}

.socialMenu {
    margin: 2em;
    shape-outside: circle(50%);
    padding-left: 0;

    .socialMenuLinks {
        padding: 1em;
        list-style-type: none;
        display: inline;
    }
}
